*{
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: #1a1244;
    padding: 20px;
    border-bottom: 4px solid #401e63;
    position: sticky;
    top: 0;
}
.hedding-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0px 150px;
}
.hedding-parent ul{
    display: flex;
}
.hedding-tag{
    color: white;
}
.hedding-parent ul li{
    list-style: none;
}
.hedding-parent ul li a{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}
.hedding-parent ul li a:hover{
    background-color: black;
    padding: 10px 200-90px;
    color: red;
    text-align: center;
}

/* hero area start  */
header{
    background-image: url(images/website\ banner.jpg);
    background-repeat: no-repeat;
    padding: 200px;
    background-position: center;
    background-size: cover;
}
header .hero-area-parent{
    display: flex;
    justify-content: center;

}
header .hero-area-parent input{
    width: 500px;
    height: 40px;
    border-radius: 5px 0px 5px 5px;
    font-size: 20px;
    padding-left: 20px;
}
.hero-area-parent .hero-area-icon{
    color: red;
    background-color: green;
    width: 50px;
    height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 5px 0px;
    cursor: pointer;
   margin-left: -4px;
}

/* main section code start */
.latest-video-main{
    width: 1100px;
    margin: auto;
   
}
.main-tag-all-parent{
    background-color: #2d236a;
    padding-top: 50px;
   
}
.latest-vedeo-parent{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
    color: #04aa6d;
    
}
.latest-video-text{
    font-size: 25px;
}
.latest-video-page{
    font-weight: bold;
}
.latest-video-page span{
    color: black;
    background-color: antiquewhite;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 4px;
    border: 1px solid #8080805b;
    cursor: pointer;
}
.card-parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 25px;
    grid-row-gap: 30px;
    margin-top: 30px;
}
.single-card{
    width: 100%;
}
.single-card img{
    height: 230px;
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
    border: 4px solid gray;
}
.single-card img:hover{
    transform: scale(1.1);
    border-radius: 20px;
}
.single-card div{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    color: gray;
}

/* previuos link code start */
.preview-page{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: auto;
    padding: 40px 0;
}
.preview-page a{
    color: white;
    text-decoration: none;
    background-color: #04aa6d;
    padding: 10px 20px;
    border-radius: 5px;
}
.preview-page-icon a{
    padding: 8px;
    background-color: antiquewhite;
    color: black;
    margin: 0 5px;
}
.preview-page-icon a:first-child{
    background-color: #04aa6d;
    color: antiquewhite;
}

/* footer section start */
footer{
    padding-top: 50px;
    background-color: #5f1e69;
}
.footer-container{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
   
    color: white;
}
.footer-container h2{
   padding-bottom: 20px;
}
.footer-iteam{
    width: 250px;
    padding-top: 20px;
}
 p{
    padding-bottom: 50px;
}
.footer-iteam h4{
    padding-bottom: 10px;
}
.footer-iteam span{
    font-size: 17px;
}
.footer-iteam a{
    text-decoration: none;
    display: block;
    padding: 5px 0;
    color: white;
}
.footer-iteam i{
    background-color: rgba(128, 128, 128, 0.237);
    padding: 10px;
    font-size: 20px;
    color: white;
    margin: 0 5px 10px 0;
    cursor: pointer;
}